<div id="<%= dom_id order %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Nome Completo:</strong>
    <%= order.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Endereço:</strong>
    <%= order.address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= order.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tipo de Pagamento:</strong>
    <%= order. pay_type %>
  </div>
</div>
